
<div class="container">
  <md-sidenav-container>
      <md-sidenav #sidenav mode="side" class="app-sidenav">
      <!-- <md-nav-list> -->
          <button md-fab color="primary" (click)="click()">logout
          </button>
      <!-- </md-nav-list> -->
          <button md-fab color="primary" (click)="chat()"> Chat
          </button>
      </md-sidenav>
      <md-toolbar color="primary">
          <button md-icon-button (click)="sidenav.toggle()">
              <md-icon class="md-24" >menu</md-icon>
          </button>
      </md-toolbar>
      <div class="app-content">
        <div class="col-md-7 left_padd">
  <div class="row">
    <div class="troll_container">
      <div class="panel panel-primary">
        <div class="panel-heading troll_background">Chat Box</div>
        <div class="panel-body body_colour">
          <div class="trolls_list" #scrollMe>
            <div class="col-md-12" *ngFor="let c of chats">
              <div class="col-md-3 titles_text">
                <div class="row" (click)="sendRequest(c.username)">
                  <span class="single_user" [style.color]="c.userTextColor">
                    <div class="user_img">
                      <img *ngIf="c.userRole.icon; else defaultIcon" src="{{c.userRole.icon}}" />
                      <ng-template #defaultIcon><i class="fa fa-user"></i></ng-template>
                    </div>
                    <span class="user_name">{{ c.username }}</span>
                  </span>
                </div>
              </div>
              <div class="col-md-7 text_trool">
                <div class="row">
                  <p>{{ c.message }}</p>
                </div>
              </div>
              <div class="col-md-2 time_text">
                <div class="row">
                  <p class="text-center">{{ getLocalDate(c.sent_on) }}</p>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="chat_box">
                <div class="col-md-12">
                  <div class="row">
                    <div class="shout_box">
                      <div class="form-group">
                        <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
                          <input type="text" [(ngModel)]="msgData.message" name="message" class="form-control" placeholder="send..." id="usr">
                          <div class="send_box">
                            <button type="submit" class="btn btn-primary">Send
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</md-sidenav-container>


</div>
