.message{
  height:50px;
  weight:50px;
}
.onlineUsers{
  width:10%;
 background:black;
 color:white;
}
.chatbox{
color: white;
  width:15%;
    background-color: black;

}
.chatbox label{
  text-align:center;
  color:red;

}
.onlineUsers label{
  color: red;
  text-align: center;

}
