
<div class="container">
  <md-sidenav-container>
      <md-sidenav #sidenav mode="side" class="app-sidenav">
      <!-- <md-nav-list> -->
          <button md-fab color="primary" (click)="click()">logout
          </button>
      <!-- </md-nav-list> -->
          <button md-fab color="primary" (click)="chat()"> Chat
          </button>
      </md-sidenav>
      <md-toolbar color="primary">
          <button md-icon-button (click)="sidenav.toggle()">
              <md-icon class="md-24" >{{currentUser.username}}</md-icon>
          </button>

      </md-toolbar>
      <div class="app-content">
        <!-- <div class="message">
          <ul *ngFor = "let c of chats">
            <li> {{c}}</li>
          </ul>
        </div>
        <form (ngSubmit)="sendMessage()" #msgForm="ngForm">

          <input type="text" [(ngModel)]="msgData.message" name="message" class="form-control" placeholder="send..." id="usr">
          <div class="send_box">
            <button type="submit" class="btn btn-primary">Send
            </button>
          </div>
        </form> -->
        <div class="onlineUsers" >
          <input type="text" class="search-query form-control" placeholder="Search" [ngModel]="filterString" (keyup)="filterOnlineUsers($event)" />
          <label> <h4>Online Users </h4></label>
          <label (click)="chatoff()"> chat off </label>
          <label (click)="chaton()"> chat on </label>
          <ul *ngFor="let onlineUser of onlineUsers">
            <li (click)="sendRequest(onlineUser)">
          {{onlineUser}}
        </li>
        </ul>
        </div>
        <div class="chatbox">
          <label> Chat BOX </label>
        <div *ngFor="let message of chats">
            {{message.username}} ::
             {{message.message}}
          </div>

      <input [(ngModel)]="msgData.message" (keyup)="$event.keyCode == 13 && sendMessage()" />
      <button (click)="sendMessage()">Send</button>
</div>
<div >
  <label><h3> Notifications </h3></label>
<li class="media" *ngFor="let notification of notifications">
  <div class="media-body">
    <div class="sender_text">
      <p>{{ notification.message }}</p>
    </div>
    <div class="choose_buttons" *ngIf="notification.type == 'receive'">
      <button md-fab color="primary" href="javascript:void(0);" (click)="acceptRequest(notification.username)"><i class="fa fa-check"></i>yes</button>
      <button md-fab color="primary" href="javascript:void(0);" (click)="rejectRequest(notification.username)"><i class="fa fa-times"></i>no</button>
    </div>
  </div>
</li>
</div>
</div>
</md-sidenav-container>


</div>
